h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.display {
  font-family: 'PT Serif', serif;
}

.footnote {
  font-size: 0.8em;
  color: var(--color__grey--medium);
}
/* 
.default {
  color: var(--color__grey--dark);
} */

.success {
  color: var(--color__green--dark);
}

.danger {
  color: var(--color__red--dark);
}

.light-grey {
  color: rgba(0, 0, 0, 0.3);
}

.light {
  color: rgba(255, 255, 255, 0.6);
}
