:host {
  width: 100vw;
  position: fixed;
  height: calc(100vh - var(--pattern__topbar__height));
  overflow-y: auto;
  padding: 0em 4em 12em 4em;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  :host {
    padding: 1em;
  }
}
