dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
.editorconfig
.prettierrc.json
node_modules/
$RECYCLE.BIN/
www/
dist/
LICENSE
package-lock.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
