input[type="number"],
input[type="password"],
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: calc(var(--padding) / 1.6) calc(var(--padding) / 1.5);
  /* border: var(--border__input); */
  border: 1px solid var(--color__gray--400);
  border-radius: var(--border-radius);
  font-size: 1em;
  box-sizing: border-box;
  background: none;
  color: var(--color__gray--200);
  outline: none;
}

input[type="date"] {
  border: 0;
  border-bottom: 1px solid var(--color__gray--400);
  border-radius: 0;
  padding: calc(var(--padding) / 3);
  color-scheme: dark;
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border: 1px solid var(--color__gray--200);
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--color__gray--400);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--color__gray--400);
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--color__gray--400);
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color__gray--400);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color__gray--400);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--color__gray--400);
}
