:host {
  display: block;
}

select {
  background: none;
  outline: none;
  border: 1px solid var(--color__gray--400);
  color: var(--color__gray--200);
  border-radius: var(--border-radius);
  padding: calc(var(--padding) / 1.6) calc(var(--padding) / 1.5);
}

select:hover {
  color: var(--color__gray--100);
}
