:host {
  display: block;
}

select {
  background: none;
  outline: none;
  border: 1px solid var(--color__white--regular);
  color: var(--color__white--brighter);
  border-radius: var(--border-radius);
  padding: calc(var(--padding) / 1.6) calc(var(--padding) / 1.5);
}

select:hover {
  color: var(--color__white--brightest);
}
