.default {
  display: block;
  padding: var(--site__padding);
  border-radius: var(--site__border-radius);
}

.danger {
  background: var(--color__red--lightest);
  color: var(--color__red--dark);
  border: 1px solid var(--color__red--lightest);
}
