:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

p-spinner {
  margin-top: 0.5em;
  margin-right: 0.75em;
}

c-banner {
  width: 300px;
}

.logo {
  width: 200px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--site__border-radius);
}
