.default {
  display: block;
  padding: var(--site__padding);
  box-sizing: border-box;
}

/* POSITION */
.position--bottom {
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
}

/* THEME */
.theme--danger {
  background: var(--color__red--lightest);
  color: var(--color__red--dark);
  border: 1px solid var(--color__red--lightest);
}
