:host {
  width: 12.5vw;
  position: fixed;
  height: calc(100vh - var(--pattern__topbar__height));
  border-right: var(--border);
  padding-top: 3em;
}

e-link {
  font-size: 0.95em;
}

ph-house,
ph-file {
  margin-top: 2px;
}
