:host {
  width: 15%;
  position: fixed;
  height: calc(100vh - 55px);
  border-right: 1px solid var(--color__grey--lighter);
  background: white;
  box-sizing: border-box;
}

ph-house,
ph-file {
  margin-top: 3px;
}
