:host {
  display: flex;
  justify-content: space-around;
}

textarea {
  display: block;
  width: 70vw;
  height: 90vh;
  background: none;
  outline: none;
  border: none;
  caret-color: var(--color__white--brightest);
  color: var(--color__white--brighter);
  font-size: 1.2em;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 1em 0 10em 0;
  white-space: pre-wrap;
  line-height: 2;
}

@media only screen and (max-width: 768px) {
  textarea {
    width: 100%;
  }
}
