:host {
  display: block;
  text-align: right;
}

c-card {
  display: none;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

ph-caret-u,
ph-caret-down,
ph-user,
ph-credit-card,
ph-sign-out {
  margin-top: 5px;
}
