.note__container {
  display: block;
  /* width: 100%; */
  border-bottom: var(--border);
  padding: var(--padding);
  transition: all 0.25s;
}

.note__container:hover {
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.preview__container {
  font-family: var(--font-family__mono);
  line-height: 1.3;
}
