:host {
  position: fixed;
  display: block;
  width: 100vw;
  border-bottom: var(--border);
  padding: calc(var(--padding) / 1.6) var(--padding) calc(var(--padding) / 1)
    var(--padding);
  height: 50px;
  z-index: 9;
  box-sizing: border-box;
}

e-img {
  margin-top: 2em;
}
