:host {
  position: fixed;
  background: white;
  display: block;
  width: 100vw;
  border-bottom: var(--border);
  padding: calc(var(--padding) / 2.5) var(--padding);
  height: 50px;
  z-index: 9;
  box-sizing: border-box;
}

e-img {
  margin-top: 1em;
}
