:host {
  display: block;
  border-bottom: var(--border);
  padding: calc(var(--padding) / 1.5) 0;
  z-index: 9;
  box-sizing: border-box;
}

e-img {
  margin-top: 2em;
}

.show-on-desktop {
  display: block;
}
.show-on-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .show-on-desktop {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}
