@import 'reset/reset.css';
@import 'vars/vars.css';

body {
  font-size: var(--site__font-size--body);
  color: var(--color__grey--dark);
  font-family: 'Roboto', sans-serif;
  line-height: var(--site__line-height);
}
