:host {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--color__blue--regular);
  transition: all 0.25s;
}
a:hover {
  color: var(--color__blue--dark);
}
a:active {
  color: var(--color__blue--light);
}

/* Nav link */
.link__nav--default a {
  width: 12.5vw;
  display: block;
  box-sizing: border-box;
  padding: 0.25em 1em;
}
.link__nav--default-active a {
  display: block;
  box-sizing: border-box;
  width: 12.5vw;
  color: var(--color__blue--regular);
  background: var(--color__blue--lightest);
  padding: 0.25em 1em;
}

/* Card link */
.link__card--default a {
  width: 100%;
  border-radius: var(--border-radius);
  padding: calc(var(--padding) / 2) var(--padding);
  border: var(--border);
}
.link__card--default a:hover {
  background: var(--color__blue--lightest);
}

/* Tab link */
.link__tab--default {
  margin-right: 3em;
}
.link__tab--default-active {
  margin-right: 3em;
  border-bottom: 2px solid var(--color__blue--regular);
}

/* Danger theme */
.link__default--danger a {
  color: var(--color__red--regular);
}
.link__default--danger a:hover {
  color: var(--color__red--dark);
}
.link__default--danger a:active {
  color: var(--color__red--light);
}
