a {
  text-decoration: none;
  display: inline-block;
  color: var(--color__blue--regular);
}

a:hover {
  color: var(--color__blue--dark);
}

a:active {
  color: var(--color__blue--darkest);
}

.nav__link {
  padding: 0.5em 0 0.5em 0.75em;
}

.nav__link--active {
  color: var(--color__blue--darkest);
  background: var(--color__blue--lightest);
  border-radius: var(--site__border-radius);
  padding: 0.5em 1em;
}

.danger {
  color: var(--color__red--regular);
}

.danger:hover {
  color: var(--color__red--dark);
}

.danger:active {
  color: var(--color__red--darkest);
}
