a {
  text-decoration: none;
  display: inline-block;
  color: var(--color__blue--regular);
  transition: all 0.25s;
}

a:hover {
  color: var(--color__blue--dark);
}

a:active {
  color: var(--color__blue--darkest);
}

/* -------------
LINK NAV VARIANT
------------- */

.link__nav a {
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--site__padding) / 2) var(--site__padding);
}

.link__nav--active a {
  box-sizing: border-box;
  width: 100%;
  color: var(--color__blue--darkest);
  background: var(--color__blue--lightest);
  border-radius: var(--site__border-radius);
  padding: 0.5em 1em;
}

/* --------------
LINK CARD VARIANT
-------------- */

.link__card a {
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--site__border-radius);
  padding: calc(var(--site__padding) / 2) var(--site__padding);
  border: 1px solid var(--color__grey--lightest);
}

.link__card a:hover {
  background: var(--color__blue--lightest);
}

/* -------------
LINK TAB VARIANT
------------- */
.link__tab--active {
  border-bottom: 2px solid var(--color__blue--regular);
}

/* ---------
DANGER THEME
--------- */

.danger {
  color: var(--color__red--regular);
}

.danger:hover {
  color: var(--color__red--dark);
}

.danger:active {
  color: var(--color__red--darkest);
}
