:host {
  display: block;
  width: 250px;
}

header e-button {
  padding: 0;
}

e-input {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

c-banner {
  display: block;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}
