:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

c-card {
  width: 350px;
  border: 0;
}

e-input {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.username-availability-status-container ph-x,
.username-availability-status-container ph-check {
  display: block;
  margin-top: 5px;
  margin-right: 0.5em;
}

span {
  display: block;
}

.success {
  color: var(--color__green--200);
}

.failed {
  color: var(--color__red--200);
}
