:host {
  display: block;
  box-sizing: border-box;
}

e-textarea {
  height: calc(100vh - 55px - 15vh);
}

.blank-library__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.note-library__container {
  width: 70%;
  margin: 0 auto;
}

.note-library__button {
  position: fixed;
  right: 2.5vw;
  bottom: 5vw;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .note-library__container {
    width: 100%;
  }
}
