:host {
  display: block;
}

e-textarea {
  height: calc(100vh - 55px -15vh);
}

.blank-library__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
