/* Default */
button {
  background: none;
  border: 0;
  font-size: 1em;
  border-radius: var(--border-radius);
  transition: all 0.25s;
  padding: calc(var(--padding) / 1.6) calc(var(--padding) / 1.5);
  font-weight: 500;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* Primary Button (Default) */
.button__primary--default {
  border: 1px solid var(--color__white--brighter);
  background: var(--color__white--brighter);
}
.button__primary--default:hover {
  background: var(--color__white--brightest);
}
.button__primary--default:active {
  background: none;
}
.button__primary--danger {
  background: var(--color__red--regular);
  color: white;
}
.button__primary--danger:hover {
  background: var(--color__red--dark);
}
.button__primary--danger:active {
  background: none;
}

/* Ghost Button (Default) */
.button__ghost--default {
  border: 1px solid var(--color__white--regular);
  color: var(--color__white--brighter);
}
.button__ghost--default:hover {
  border: 1px solid var(--color__white--brighter);
}
.button__ghost--default:active {
  color: var(--color__white--regular);
  border: 1px solid var(--color__white--dim);
}

/* Ghost Button (Danger) */
.button__primary--danger {
  border: 1px solid var(--color__red--200);
  color: var(--color__red--200);
}
.button__primary--danger:hover {
  border: 1px solid var(--color__red--100);
  color: var(--color__red--100);
}
.button__primary--danger:active {
  border: 1px solid var(--color__red--300);
  color: var(--color__red--300);
}

/* Link Button */
.button__link--default {
  padding: 0;
  border: 0;
  color: var(--color__blue--200);
}
.button__link--default:hover {
  color: var(--color__blue--100);
}
.button__link--default:active {
  color: var(--color__blue--300);
}

/* Light Button (Default) */
.button__light--default {
  color: var(--color__white--brighter);
}
.button__light--default:hover {
  background: var(--color__white--dimmer);
}
.button__light--default:active {
  color: var(--color__white--dim);
  background: var(--color__white--dimmest);
}

/*  Button size */
.button__wide {
  display: block;
  width: 100%;
}

.button__small {
  padding: calc(var(--padding) / 2.5) calc(var(--padding) / 1.5);
}

/* Active Button */
.button--active {
  padding: calc(var(--padding) / 2) calc(var(--padding) / 1.5);
}
