/* Button Init */
button {
  background: none;
  border: 0;
  font-size: 0.9em;
  padding: calc(var(--site__padding) / 1.5) var(--site__padding);
  border-radius: var(--site__border-radius);
}
button:hover {
  cursor: pointer;
}
button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* PRIMARY BUTTON (Default) */
.primary--default {
  font-weight: 600;
  background: var(--color__blue--regular);
  color: white;
}
.primary--default:hover {
  background: var(--color__blue--dark);
}
.primary--default:active {
  background: var(--color__blue--darkest);
}

/* PRIMARY BUTTON (Danger) */
.primary--danger {
  background: var(--color__red--regular);
  color: white;
}
.primary--danger:hover {
  background: var(--color__red--dark);
}
.primary--danger:active {
  background: var(--color__red--darkest);
}

/* GHOST BUTTON (Default) */
.ghost--default {
  border: 1px solid var(--color__grey--lighter);
  color: var(--color__blue--regular);
}
.ghost--default:hover {
  background: var(--color__blue--lightest);
}
.ghost--default:active {
  background: var(--color__blue--lighter);
}

/* LIGHT BUTTON (Default) */
.light--default {
  color: var(--color__blue--regular);
}
.light--default:hover {
  background: var(--color__blue--lightest);
}
.light--default:active {
  background: var(--color__blue--lighter);
}

/* WIDE BUTTON (Default) */
.wide--default {
  display: block;
  width: 100%;
}

/* Button Spinner (in action) */
.in-action {
  padding: 0.3em 0.8em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
