/* Default */
button {
  background: none;
  border: 0;
  font-size: 0.9em;
  padding: calc(var(--padding) / 1.5) var(--padding);
  border-radius: var(--border-radius);
  transition: all 0.25s;
}
button:hover {
  cursor: pointer;
}
button:active {
  opacity: 0.4;
}
button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* Primary Button (Default) */
.button__primary--default {
  font-weight: 600;
  background: var(--color__blue--regular);
  color: white;
}
.button__primary--default:hover {
  background: var(--color__blue--dark);
}
.button__primary--default:active {
  background: var(--color__blue--light);
}
.button__primary--danger {
  background: var(--color__red--regular);
  color: white;
}
.button__primary--danger:hover {
  background: var(--color__red--dark);
}
.button__primary--danger:active {
  background: var(--color__red--light);
}

/* Ghost Button (Default) */
.button__ghost--default {
  border: 1px solid var(--color__blue--regular);
  color: var(--color__blue--regular);
}
.button__ghost--default:hover {
  background: var(--color__blue--lightest);
}
.button__ghost--default:active {
  color: var(--color__blue--lighter);
}

/* Link Button */
.button__link--default {
  padding: 0;
  border: 0;
  color: var(--color__blue--regular);
}
.button__link--default:hover {
  color: var(--color__blue--dark);
}
.button__link--default:active {
  color: var(--color__blue--light);
}

/* Light Button (Default) */
.button__light--default {
  color: var(--color__blue--regular);
}
.button__light--default:hover {
  background: var(--color__blue--lightest);
}
.button__light--default:active {
  color: var(--color__blue--lighter);
}

/* Wide Button (Default) */
.button__wide--default {
  display: block;
  width: 100%;
}

/* Active Button (In action) */
.button--active {
  padding: 0.3em 0.8em;
}
