@import "reset/reset.css";
@import "var/var.css";

@font-face {
  font-family: "IBM Plex Serif";
  src: url("./assets/IBMPlexSerif-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("./assets/IBMPlexMono-Regular-Latin1.woff2");
  font-display: swap;
}

html {
  /* background: var(--color__site--background); */
  background: linear-gradient(0deg, #121016 0%, #241f2c 85%, #362f42 100%);
  min-height: 100vh;
}

body {
  /* background: var(--color__site--background); */
  font-size: var(--font-size__body);
  color: var(--color__gray--200);
  font-family: var(--font-family__serif);
  line-height: var(--line-height);
}
