@import "reset/reset.css";
@import "var/var.css";

body {
  font-size: var(--font-size__body);
  color: var(--color__grey--dark);
  font-family: var(--font-family__sans-serif);
  line-height: var(--line-height);
}
